<%= simple_form_for(@dojo_student) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :dojo_id %>
    <%= f.input :student_id %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
