<h1>Listing dogos</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Street</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dogos.each do |dogo| %>
  <tr>
    <td><%= dogo.name %></td>
    <td><%= dogo.street %></td>
    <td><%= dogo.city %></td>
    <td><%= dogo.state %></td>
    <td><%= dogo.zip %></td>
    <td><%= dogo.latitude %></td>
    <td><%= dogo.longitude %></td>
    <td><%= dogo.active %></td>
    <td><%= link_to 'Show', dogo %></td>
    <td><%= link_to 'Edit', edit_dogo_path(dogo) %></td>
    <td><%= link_to 'Destroy', dogo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dogo', new_dogo_path %>
